
		div.c1{
			font-size:1500px;
			color:#ccccff;
		}
		div.c2{
			font-size:1500px;
			color:#9999ff;
		}
		div.c3{
			font-size:1500px;
			color:#6666ff;
		}
		div.c4{
			font-size:1500px;
			color:#3333ff;
		}
		div.c5{
			font-size:1500px;
			color:#0000ff;
		}
		body{
    	background-image:url("https://raw.githubusercontent.com/abpdf/document/main/1.jpg");
		}